# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: a05f48e3daa95fb28a9a0112ef673af0a12618993a5a35ed2e4921c88510f2aba2c456d34d5fc78a6c1ff6d138120bd54abde6e6e01cc66f527b87e44eb2fcc0

test:
  secret_key_base: f2204dd788d7c17a88797d47fa992227e5d68cb306e358956876ed00c52d807409cd7e99799b0b50bdf43b631dde4777ddc874c9e272429a692fabc034a0b3af

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
